@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: #1F324E;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.main {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    box-shadow: 4px 4px 15px rgba(177, 176, 176, 0.493);
}
.left {
    width: 400px;
    background: #CFDBF5;
    padding: 50px 45px;
}
.right {
    width: 800px;
    padding: 40px 60px;
}
.left h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 60px;
}
.ed h2 {
    margin-top: 100px;
}
.skills {
    display: flex;
    margin-top: 15px;
    align-items: center;
}
.skills p {
    color: #1F324E;
    font-size: 18px;
    margin-left: 10px;
}
.circle div {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgb(44, 50, 90);
}    
h1 {
    color: #1F324E;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 2.2px;
}
.prof {
    display: flex;
    margin-top: 25px;
    font-size: 30px;
}
.prof p {
    margin-left: 10px;
}
.prof img {
    width: 5px;
}
.line1 {
    width: 60px;
    height: 3px;
    background: #1F324E;
    margin-top: 15px;
}
.education h3 {
    margin-top: 25px;
    font-size: 20px;
}
.education p {
    margin-top: 8px;
    font-size: 18px;
}
.head {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.right img {
    width: 300px;
}
.contacts {
    position: relative;
    margin-left: 24px;
}
.contacts img{
    width: 16px;
}
.mail {
    margin-top: 15px;
    align-items: center;
    display: flex; 
}
.mail p {
    margin-left: 18px;
}
.mail img {
    width: 20px;
}
.phone {
    margin-top: 15px;
    align-items: center;
    display: flex;
}
.phone p {
    margin-left: 20px;
}
.right h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 38px;
}
.profile p {
    color: #1F324E;
    font-size: 18px;
    margin-top: 25px;
    font-size: 18px;
}
.rh2-2 h2 {
    margin-top: 60px;
}
.right h3 {
    color: #1F324E;
    margin-top: 25px;
    font-size: 20px;
}
.work {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
}
.duties {
    font-size: 18px;
    margin-top: 10px;
}
.duties-d {
    font-size: 18px;
    margin-top: 2px;
}